@charset "UTF-8";

@import url(https://db.onlinewebfonts.com/c/7c9d8cabea7f4697dde2e98c001c5f2d?family=Futura+PT+Light);

@font-face {
    font-family: "Futura PT Light";
    src: url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.eot");
    src: url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.svg#Futura PT Light")format("svg");
}

body {

    background-color: rgb(219, 216, 225);
    font-family:"Futura PT Light";
    font-size: 23px;
    background-color: #EDE9E9;
    
    
    
}

.naveg {
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    

}
#burguer {
    background-color: rgb(143, 139, 139); 
    display: block;
    width: 100vw;
    text-align: center;
    padding: 10px;
    color: black;
    cursor: pointer;
}

#burguer:hover {
    background-color: #746666;
    
}



h1 {
    background-color: #EDE9E9;
    color: black;
    height: 100px;
    padding-top: 50px;
    padding-bottom:15px;
    border-radius: 5px;
    text-align: center;
    font-family: "Futura PT Light";
    font-weight: lighter;
    font-style: normal;
    font-size: 50px;
}

nav {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: rgb(193, 186, 186); 
    
    
}

 .naveg > nav > div > a {
    
    text-decoration: none;
    padding: 5px;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    font-size: 18px;
    
    

}

.naveg > nav > div {
    display:inline-block;
    width: 200px;
    justify-content: center;
   
}

nav a {
    color: black;
}

nav a:hover {
    background-color: #f1804c;
    padding: 3px;
    color: #f0f8ff;
    border-radius: 6px;
}

div.quadrado1 {
    display: flex;
    justify-content: center;
    margin-right: auto;
    
    
}

.quadrado1>div {
    display: inline-block;
    width: 305px;
    
    
}

.quadrado1 div:hover {
    border-style: solid;
    color: #9A9090;
}

div.quadrado2 {
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.quadrado2>div {
    display: inline-block;
    width: 305px;
}

.quadrado2 div:hover {
    border-style: solid;
    color: #9A9090;
}

div.quadrado3 {
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.quadrado3>div {
    display: inline-block;
    width: 305px;
}

.quadrado3 div:hover {
    border-style: solid;
    color: #9A9090;
}

div.quadrado4 {
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.quadrado4>div {
    display: inline-block;
    width: 305px;
}

.quadrado4 div:hover {
    border-style: solid;
    color: #9A9090;
}

div.quadrado5 {
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.quadrado5 > div {
    display: inline-block;
    width: 305px;
}

.quadrado5 div:hover {
    border-style: solid;
    color: #9A9090;
}

div.quadrado6 {
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.quadrado6 > div {
    display: inline-block;
    width: 305px;
}

.quadrado6 div:hover {
    border-style: solid;
    color: #9A9090;
}


div.quadrado7 {
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.quadrado7 > div {
    display: inline-block;
    width: 305px;
}

.quadrado7 div:hover {
    border-style: solid;
    color: #9A9090;
}

