@charset "UTF-8";

@media screen and (max-width: 768px) {
    .quadrado1 div {
        display: flex;
        flex-wrap: wrap;
    }


    img {
        width: 150px;
      
    }

    .imagem {
        width: 70px;
    }
}

@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }
    
    nav {
        
        display: block;
        text-align: center;
        
        
    }

    
     
    
}

@media screen and (min-width: 769px) {
        


    img {
        width: 200px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }

    .imagem {
        width: 70px;
    }
}




