
@charset "UTF-8";


@media(min-width: 100px) and (max-width: 768px){
    
        .imagem {
            margin: auto;
        }
        

        .exrot p {
            margin-block: 80px;
            text-align: left;
            font-size: 12px;
        }

        .parabola p {
            margin-block: 80px;
            text-align: left;
            font-size: 12px;
        }

        .subver p {
            margin-block: 80px;
            text-align: left;
            font-size: 12px;
        }

        .abomba p {
            margin-block: 80px;
            text-align: left;
            font-size: 12px; 
        }

        .negraruiva p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .caminhante p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .africa p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .felicidade p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .horizonte p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .homem p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .voo p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .morena p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .contemplação p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .salto p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .montanha p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .mariacomomenino p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .tecnologos p {
            margin-block: 90px;
            text-align: left;
            font-size: 12px;
        }

        .surfistavermelho p {
            margin-block: 75px;
            text-align: left;
            font-size: 12px;
        }

        .surfistaamarelo p{
            margin-block: 75px;
            text-align: left;
            font-size: 12px;
        }

        .surfistaazul p {
            margin-block: 75px;
            text-align: left;
            font-size: 12px;
        }

        .fraternidade p {
            margin-block: 75px;
            text-align: left;
            font-size: 12px;
        }

        .obras {
            flex-wrap: wrap;
        }
    
    }

    @media (min-width:100px) and (max-width: 736px){
        .imagem {
            height: 26vh;
            width: 27vw;
            margin: auto;
            
        }

        .imagem2 {
            height: 18vh;
            width: auto;
            margin: auto;
        }

        .parabola, .subver, .exrot, .abomba, .negraruiva, .caminhante, .africa, .felicidade, .horizonte, .homem, .voo, .morena, .contemplação, .salto, .montanha, .mariacomomenino, .tecnologos, .surfistavermelho, .surfistaamarelo, .surfistaazul, .fraternidade {
            width: 20%;    
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 30px 30px;
    padding-right: 20px;
    margin-right: 30px;
    display: flex;
    width: 288px;
    height: 175px;
    object-fit: cover;
            margin: auto;
        }

        .surfistavermelho p {
            margin-block: 75px;
            text-align: left;
            font-size: 12px;
        }
    
        .surfistaamarelo p {
            margin-block: 65px;
            text-align: left;
            font-size: 12px;
        }
    
        .surfistaazul p {
            margin-block: 65px;
            text-align: left;
            font-size: 12px;
        }
    }


    @media (min-width:737px) and (max-width:1024px){

        .imagem {
            height: 20vh;
        }


    .parabola, .subver, .exrot, .abomba, .negraruiva, .caminhante, .africa, .felicidade, .horizonte, .homem, .voo, .morena, .contemplação, .salto, .montanha, .mariacomomenino, .tecnologos, .surfistavermelho, .surfistaamarelo, .surfistaazul, .fraternidade {
    width: 20%;    
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 30px 30px;
    padding-right: 20px;
    margin-right: 30px;
    display: flex;
    width: 288px;
    height: 175px;
    object-fit: cover;
    margin: auto;
    }

    .surfistavermelho p {
        margin-block: 75px;
        text-align: left;
        font-size: 12px;
    }

    .surfistaamarelo p {
        margin-block: 65px;
        text-align: left;
        font-size: 12px;
    }

    .surfistaazul p {
        margin-block: 65px;
        text-align: left;
        font-size: 12px;
    }
    .obras {
        flex-wrap: wrap;
        
    }

    .imagem2 {
        height: 15vh;
        width: auto;
        margin: auto;
    }

    

}

    @media (min-width: 1025px) and (max-width:1364px) {
        .imagem {
            height: 40vh;
            width: 15vw;
            margin: auto;
        }

        .parabola, .subver, .exrot, .abomba, .negraruiva, .caminhante, .africa, .felicidade, .horizonte, .homem, .voo, .morena, .contemplação, .salto, .montanha, .mariacomomenino, .tecnologos, .fraternidade {
            width: 20%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        padding: 30px 30px;
        padding-right: 20px;
        margin-right: 30px;
        display: flex;
        width: 340px;
        height: 300px;
        object-fit: cover;
        margin: auto;
        }

        .imagem2 {
            height: 20vh;
            width: 25vw;
            margin: auto;
        }

        .surfistaamarelo, .surfistaazul, .surfistavermelho {
            background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        padding: 30px 30px;
        padding-right: 20px;
        margin-right: 30px;
        display: flex;
        width: 340px;
        height: 300px;
        object-fit: cover;
        margin: auto;
        }
         .surfistaamarelo p {
            margin-block: 65px;
        text-align: left;
        font-size: 12px;
         }

         .surfistaazul p {
            margin-block: 65px;
        text-align: left;
        font-size: 12px;
         }
          .surfistavermelho p {
            margin-block: 65px;
        text-align: left;
        font-size: 12px;
          }

        
    }

    @media (min-width: 1365px) and (max-width:2560px){
        .imagem {
            height: 40vh;
            width: 17vw;
            
        }

        .parabola, .subver, .exrot, .abomba, .negraruiva, .caminhante, .africa, .felicidade, .horizonte, .homem, .voo, .morena, .contemplação, .salto, .montanha, .mariacomomenino, .tecnologos, .surfistavermelho, .surfistaamarelo, .surfistaazul, .fraternidade {
            width: 20%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        padding: 30px 30px;
        padding-right: 20px;
        margin-right: 30px;
        display: flex;
        width: 340px;
        height: 300px;
        object-fit: cover;
        margin: auto;
        }

        .imagem2 {
            height: 20vh;
            width: 20vw;
            margin: auto;
        }
    }

    @media (orientation: landscape) {
        .imagem {
           height: 25vh;
           width: 15vw;
           margin: auto; 
        }
    }

    




