@charset "UTF-8";

@import url(https://db.onlinewebfonts.com/c/7c9d8cabea7f4697dde2e98c001c5f2d?family=Futura+PT+Light);

@font-face {
    font-family: "Futura PT Light";
    src: url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.eot");
    src: url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7c9d8cabea7f4697dde2e98c001c5f2d.svg#Futura PT Light")format("svg");
}




@media screen and (max-width: 600px){
    .imagem {
        height: 20vh;
        width: auto;
        border-radius: 10px;
        margin: auto;
        flex-wrap: wrap;
    
        
        
    }
}

@media screen and (max-width: 900px) {
    .imagem{
         height:15vh;
         width: auto;
         border-radius: 10px;
}   
}

@media screen and (min-width: 901px) and (max-width: 1536px) {
    .imagem {
        height: 15vh;
        width: auto;
        border-radius: 10px;
        margin: auto;
    }
}



 

    .curvasecores, .geração80, .albertokaplan, .duplaespecializada {
        margin: auto;
        
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 20px;
    width: 200px;
    height: 230px;
    
    }

    h1 {
        font-family: "Futura PT Light";
    }

     
